body {
    font-family: "Funnel Sans", sans-serif;
    background-color: rgb(27, 27, 27);
}

.banner {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(20,20,20);
    border-radius: 8px;
    padding: 3em 0em;
    margin-bottom: 1em;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1000px;
    }
}

.soundtrack-card {
    margin: 0.5em;
}

.soundtrack-card p {
    margin: 0;
    text-overflow: ellipsis;
}

.soundtrack-card .card-body {
    padding: 0.5em 0em;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.soundtrack-info {
    display: flex;
    width: 100%;
}

.cover-art {
    transform: rotate(180deg);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.st-data {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}